[Unit]
Description=Send secure messages to Signal clients
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment="BASEPATH=YOURPATH TO THE WP CONTENT DIR/wp-content/signal-cli"
ExecStartPre=-/usr/bin/rm ${BASEPATH}/socket
ExecStart=${BASEPATH}/program/signal-cli --config ${BASEPATH}/config/ --trust-new-identities=always daemon --socket=${BASEPATH}/socket

User=USERNAME/root
Restart = on-failure 
RestartSec = 5

# JVM always exits with 143 in reaction to SIGTERM signal
SuccessExitStatus=143

[Install]
WantedBy = multi-user.target 
